{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <title>
        {% block title%}{% endblock %}
    </title>

</head>

<body>
        <header>
            <nav id="navegacion">
                <ul class="opciones op">
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Proyectos</a></li>                    
                </ul>
            </nav>
            <div id="conte-img-perfil">

            </div>
            <div id="conte-descripcion-perfil">

            </div>
        </header>


        <section>
            <div class="conte-proyectos">
                <div class="proyecto">

                </div>
                <div class="proyecto">

                </div>
                <div class="proyecto">

                </div>
                <div class="proyecto">

                </div>
            </div>
        </section>
</body>
<footer>
    
</footer>

</html>